/* boiler plate  */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}


/* container is a class name which holds the all the elements of the webpage  */
.container {
    height: 100vh;
    width: 100%;
}

/* navbar starts from here  */
nav {
    height: 80px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
/* navbar logo  */
.logo {
    display: flex;
    align-items: center;
    margin-left: 220px;
}

.logo img {
    height: 50px;
}

.logo p {
    font-size: 25px;
    font-weight: 550;
}

/* navbar items  */
.navitems {
    display: flex;
    flex-direction: row;
    margin-right: 220px;
}

.navitems ul {
    display: flex;
    list-style: none;
    font-weight: 600;
    gap: 40px;
}

.navitems ul li:hover {
    color: rgb(45, 219, 45);
}

#click {
    display: none;
}

#openmenu,
#closemenu {
    display: none;
}

.page1 {
    height: 650px;
    width: 100%;
    background: linear-gradient(to right, rgb(255, 44, 160), #aa18ff);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
    /* gap: 100px; */
}

.page1 .left {
    height: 500px;
    width: 385px;
}

.page1 .left img {
    height: 500px;
    width: 400px;

}

.page1 .right {
    font-size: 50px;
    font-weight: 900;
    line-height: 80px;
    color: white;
    height: 600px;
    width: 685px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

}

button {
    height: 50px;
    width: 180px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 30px;
}

button:hover {
    transform: scale(1.04);
}


/* page2 starts from here  */
.page2 {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.page2 img {
    height: 140px;
    margin-bottom: 40px;
}

.page2 .content {
    display: flex;
    text-align: center;
}

.page2 .content .first,
.second {
    padding: 30px;
    line-height: 23px;
    height: 307.3;
    width: 295px;
    font-size: 15px;
}

.page2 .content h3 {
    margin-bottom: 15px;
}

.page2 span {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}

.page2 .content .left,
.right {
    display: flex;
}



/* page3 starts from here  */
.page3 {
    height: 550px;
    width: 100%;
    background: linear-gradient(to bottom, rgb(255, 44, 160), #aa18ff);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.page3 img {
    display: none;
}

.page3 .left span {
    font-size: 50px;
    font-weight: 700;
    color: white;
}


/* page4 starts from here  */

.page4 {
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page4 span {
    font-size: 20px;
    font-weight: 700;
}

.page4 .accordian {
    width: 900px;
    display: flex;
    justify-content: center;
}

.page4 .accordian li {
    list-style: none;
    width: 100%;
    background-color: white;
    margin-top: 3px;
}

.page4 .accordian li label {
    height: 70px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer
}

.page4 .accordian li label:hover {
    background-color: rgb(241, 241, 241);
    text-decoration: underline;
}

.accordian label+input[type="radio"] {
    display: none;
}

.accordian ul li .content {
    border-bottom: 1px solid rgb(235, 235, 235);
    padding: 0 20px;
    list-style: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height;
}

.accordian label+input[type="radio"]:checked+.content {
    max-height: 400px;
}

#green {
    color: rgb(0, 192, 0);
}

.page4 #heading {
    font-size: 38px;
    margin-bottom: 60px;
}

.page5 {
    height: 450px;
    width: 100%;
    background: linear-gradient(to bottom, rgb(255, 44, 160), #aa18ff);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 80px;
    font-weight: 700;
    color: white;
}

.page5 p {
    padding-bottom: 30px;
}

.footer {
    width: 100%;
    height: 550px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 100px;
}

.footer .content {
    display: flex;
    gap: 100px;
}

.footer .content .company {
    display: flex;
    flex-direction: column;
    line-height: 50px;
}

.footer .content .comunities {
    display: flex;
    flex-direction: column;
    line-height: 50px;
}

.footer .content .usefullinks {
    display: flex;
    flex-direction: column;
    line-height: 50px;
}

.footer .logos {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.circle {
    height: 60px;
    width: 60px;
    background-color: rgb(51, 51, 51);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle i {
    font-size: 25px;
}

.circle i:hover {
    color: rgb(42, 235, 42);
}

.footer span {
    color: rgb(122, 122, 122);
    font-weight: 600;
    text-transform: uppercase;
}

.footer #green {
    color: white;
    text-transform: none;
}

.footer #green:hover {
    color: rgb(42, 235, 42);
}

.footer .logo {
    margin: 0%;
}
























@media (max-width:1199px) {
    .logo {
        margin: 50px;
    }

    .navitems {
        margin: 50px;
    }

    .page2 .content {
        flex-direction: column;
    }

    .page2 .content {
        gap: 20px;
    }

    .page2 .content .left,
    .right {
        gap: 60px;
    }

    .page2 .content .left .first,
    .second {
        display: flex;
        padding: 0%;
        text-align: start;
        width: 412px;
        gap: 10px;
    }

    .page2 .content .right .first,
    .second {
        display: flex;
        padding: 0%;
        text-align: start;
        width: 412px;
    }

    .page2 span {
        margin-bottom: 66px;
    }

    .page4 .accordian li {
        width: 970px;
    }
}


@media (max-width:480px) {
    .page1 .right {
        height: 100px;
    }

    .page1 .right h3 {
        font-size: 10vw;
        padding-right: 20px;
        line-height: 55px;
    }

    .page2 .content .para p {
        font-size: 14px;
        width: 50vw !important;
    }

    .page3 .right img {
        height: 400px;
        width: 252px;
        display: block;
        position: relative;
        top: 50px;
        z-index: 1;
        overflow: hidden;
    }

    .page3 .right img {
        width: 246px !important;
        height: 350px !important;
    }

    .navitems ul {
        width: 400px !important;
    }
}








@media (max-width:767px) {
    .logo img {
        height: 33px;
    }

    .logo p {
        font-size: 18px;
        font-weight: 550;
    }

    button {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #openmenu {
        display: block;
        font-size: 25px;
        position: fixed;
        top: 10px;
        right: 50px !important;
    }

    #closemenu {
        display: block;
        font-size: 25px;
        position: fixed;
        z-index: 100;
        position: fixed;
        top: 10px;
        right: -100%;
        transition: all linear 0.2s;
    }

    #click:checked~#closemenu {
        right: 50px !important;
    }

    .page1 .right {
        height: 250px;
    }

    .page1 .left {
        display: none;
    }

    .page1 {
        height: 450px;
        padding-left: 30px;
        align-items: center;
        justify-content: flex-start;
    }

    .page2 img {
        height: 100px;
    }

    .page2 .para {
        width: 200px;
    }

    .page2 {
        height: 630px;
        justify-content: flex-start;
    }

    .page2 img {
        margin: 4%;
        width: 30vw;
        height: 30vh;
    }

    .page2 span {
        height: 30px;
        padding-top: 20px;
        font-size: 30px;
        font-weight: 600;
    }

    .page2 .content {
        justify-content: flex-start;
        height: 300px;
        width: 100vw;
    }

    .page2 .content .para h3 {
        font-size: 18px;
        width: 100%;
    }

    .page2 .content .para p {
        font-size: 14px;
        width: 67vw;
    }

    .page2 .content .left {
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    .page2 .content .left .first {
        padding-left: 10px;
    }

    .page2 .content .left .first,
    .second {
        align-items: center;
    }

    .page2 .content .right {
        flex-direction: column;
        justify-content: center;
        gap: 0;
    }

    .page2 p {
        width: 400px;

    }

    .page2 .content .left .first,
    .second {
        width: 300px;
        font-size: 13px;
    }

    .page2 .content .right .first,
    .second {
        width: 300px;
        font-size: 13px;
    }

    .page3 {
        height: 450px !important;
        width: 100%;
        background: linear-gradient(to bottom, rgb(255, 255, 255), #ffffff, rgb(255, 255, 255));
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .page3 .right {
        height: 300px;
    }

    .page3 .right img {
        height: 400px;
        width: 380px;
        display: block;
        position: relative;
        top: 50px;
        z-index: 1;
        overflow: hidden;
    }

    .page3 .left {
        z-index: 4;
        background: linear-gradient(to top, rgb(132, 0, 255), #ff5bbb, rgb(255, 255, 255));
        height: 150px;
        width: 100%;
    }

    .page3 .left span {
        font-size: 30px;
        position: relative;
        top: 40px;
    }

    .logo {
        height: 10px;

    }

    .page4 {
        height: 700px;
    }

    .page4 .accordian {
        width: 100vw;
    }

    .page4 .accordian li {
        width: 95vw !important;
    }


    .page5 {
        height: 400px;
    }

    .page5 p {
        font-size: 45px;
    }

    .footer {
        background-color: black;
        height: 1000px;
        flex-direction: column;
        justify-content: space-evenly;
        padding-top: 0%;
        padding-left: 20px !important;
    }

    .footer .content {
        flex-direction: column;
        gap: 30px;
    }


}










@media (max-width:991px) {
    .logo {
        height: 10px;

    }

    .page1 .right {
        height: 250px;
    }

    .page1 .left {
        display: none;
    }

    .page1 {
        height: 450px;
        padding-left: 30px;
        align-items: center;
        justify-content: flex-start;
    }

    .page2 img {
        height: 100px;
    }

    .page2 .para {
        width: 200px;
    }

    .page2 .content .left .first,
    .second {
        width: 300px;
        font-size: 13px;
    }

    .page2 .content .right .first,
    .second {
        width: 300px;
        font-size: 13px;
    }

    .page3 {
        height: 250px;
    }

    .page3 .left span {
        font-size: 35px;
    }

    .page4 {
        height: 700px;
    }

    .page4 .accordian {
        width: 100vw;
    }

    .page4 .accordian li {
        width: 700px;
    }

    .page5 {
        height: 400px;
    }

    .page5 p {
        font-size: 55px;
    }

    .footer {
        flex-direction: column;
        justify-content: space-around;
        padding-top: 0%;
        padding-left: 100px;
    }
}








@media (max-width:1130px) {
    nav {
        height: 54px;
    }

    .navitems ul {
        padding: 38px;
        flex-direction: column;
        position: fixed;
        top: 0%;
        right: -200%;
        height: 100vh;
        width: 350px;
        background-color: black;
        transition: all linear 0.2s;
        z-index: 100;
    }

    .navitems ul li {
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
    }

    #click {
        display: none;
    }

    #openmenu {
        display: block;
        font-size: 25px;
        position: fixed;
        top: 10px;
        right: 130px;
    }

    #closemenu {
        display: block;
        font-size: 25px;
        position: fixed;
        z-index: 100;
        position: fixed;
        top: 10px;
        right: -100%;
        transition: all linear 0.2s;
    }

    #click:checked~ul {
        right: 0%;
    }

    #click:checked~#closemenu {
        right: 130px;
        z-index: 101;
    }

    hr {
        height: 1px;
        width: 19px;
    }

}